<!DOCTYPE html>
<html lang="en">
  <head th:replace="~{/fragments/head :: head}"></head>

  <body>
    <header th:replace="~{/fragments/header :: header}"></header>
    <style>
      body {
        background: url('https://djcs-prod.s3.amazonaws.com/public/blogs/deloitte/blogs.dir/5/files/2024/01/Generative-AI-Applied-IMAGE.jpg') no-repeat center center fixed;
        background-size: cover;
      }
    </style>

    <div class="login-container">
      <form class="login-form" th:action="@{/login}" method="post">
        <h2><strong>User Login</strong></h2>

        <!-- Compact Success Token Sent Email Message -->
        <div
          th:if="${message ne null}"
          class="alert alert-success py-1 px-3 small shadow-sm rounded-2"
          role="alert"
        >
          <i class="fa-solid fa-circle-check me-1"></i>
          <span th:text="${message}"></span>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <div class="input-container">
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Enter your email"
              class="form-control"
              required
            />
            <i class="fas fa-user"></i>
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <div class="input-container">
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Enter your password"
              class="form-control"
              required
            />
            <i class="fas fa-lock"></i>
          </div>
        </div>

        <!-- Remember Me Checkbox -->
        <div class="form-group remember-me">
          <input type="checkbox" id="remember-me" name="rememberMe" />
          <label for="remember-me">Remember Me</label>
        </div>

        <!-- Forgot Password -->
        <div class="form-group forgot-password">
          <a th:href="@{/forgot-password}">Forgot Password?</a>
        </div>

        <!-- CSRF Protection -->
        <input
          type="hidden"
          th:name="${_csrf.parameterName}"
          th:value="${_csrf.token}"
        />

        <button type="submit" class="login-btn">Sign In</button>
      </form>
    </div>

    <!-- Footer should be inside body -->
    <footer th:replace="~{/fragments/footer :: footer}"></footer>
  </body>
</html>
