<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{/fragments/head :: head}"></head>
  <body>
    <header th:replace="~{/fragments/header :: header}"></header>

    <!-- Compact Success Message -->
    <div
      th:if="${successMessage}"
      class="alert alert-success py-1 px-3 small shadow-sm rounded-2 my-2 mx-1"
      role="alert"
    >
      <i class="fa-solid fa-circle-check me-1"></i>
      <span th:text="${successMessage}"></span>
      <button
        type="button"
        class="btn-close btn-sm"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>

    <!-- Compact Success Message -->
    <div
      th:if="${photoSuccessMessage}"
      class="alert alert-success py-1 px-3 small shadow-sm rounded-2 my-2 mx-1"
      role="alert"
    >
      <i class="fa-solid fa-circle-check me-1"></i>
      <span th:text="${photoSuccessMessage}"></span>
      <button
        type="button"
        class="btn-close btn-sm"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>

    <div
      class="container d-flex justify-content-center align-items-center vh-100"
    >
      <div class="login-container" style="max-width: 800px; width: 100%">
        <!-- Profile Photo Upload Form -->
        <form
          method="post"
          th:action="@{/upload_photo}"
          enctype="multipart/form-data"
        >
          <div class="text-center">
            <img
              th:src="@{${photo}}"
              alt="Profile Photo"
              id="profileImage"
              style="width: 150px; height: 150px; border-radius: 50%"
            />
            <div class="mt-2 d-flex gap-2 justify-content-center">
              <input
                type="file"
                name="file"
                class="form-control"
                id="file"
                onchange="previewImage(event)"
              />
              <button type="submit" class="btn btn-dark">Update</button>
            </div>
            <p
              th:text="${error}"
              th:if="${error ne null}"
              class="text-danger"
            ></p>
          </div>
        </form>

        <!-- Increased max-width -->
        <form
          class="login-form row g-3"
          th:action="@{/profile}"
          th:object="${account}"
          method="post"
        >
          <input type="hidden" id="id" name="id" th:field="*{id}" />

          <h2 class="text-center my-4">
            Hello, <span th:text="${account.firstname}"></span>
            <h6 class="text-center" th:switch="${account.role}">
              ROLE: <span th:case="'ROLE_ADMIN'">ADMIN</span>
              <span th:case="'ROLE_EDITOR'">EDITOR</span>
              <span th:case="'ROLE_USER'">USER</span>
              <span th:case="*">UNKNOWN</span>
              <!-- Default case if no match -->
            </h6>
          </h2>

          <!-- First Row: Email & Password -->
          <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <div class="input-container">
              <input
                id="email"
                th:field="*{email}"
                class="form-control"
                placeholder="Enter your email"
              />
              <i class="fas fa-envelope"></i>
            </div>
            <div
              th:if="${#fields.hasErrors('email')}"
              class="text-danger small mt-1"
            >
              <i class="fa-solid fa-circle-exclamation me-1"></i>
              <span th:errors="*{email}"></span>
            </div>
          </div>

          <div class="col-md-6">
            <label for="password" class="form-label">Password</label>
            <div class="input-container">
              <input
                id="password"
                type="password"
                th:field="*{password}"
                class="form-control"
                placeholder="Enter new password (leave blank to keep current password)"
              />

              <i class="fas fa-lock"></i>
            </div>
            <div
              th:if="${#fields.hasErrors('password')}"
              class="text-danger small mt-1"
            >
              <i class="fa-solid fa-circle-exclamation me-1"></i>
              <span th:errors="*{password}"></span>
            </div>
          </div>

          <!-- Second Row: First Name & Last Name -->
          <div class="col-md-6">
            <label for="firstname" class="form-label">First Name</label>
            <div class="input-container">
              <input
                id="firstname"
                type="text"
                th:field="*{firstname}"
                class="form-control"
                placeholder="Enter your first name"
              />
              <i class="fas fa-user"></i>
            </div>
            <div
              th:if="${#fields.hasErrors('firstname')}"
              class="text-danger small mt-1"
            >
              <i class="fa-solid fa-circle-exclamation me-1"></i>
              <span th:errors="*{firstname}"></span>
            </div>
          </div>

          <div class="col-md-6">
            <label for="lastname" class="form-label">Last Name</label>
            <div class="input-container">
              <input
                id="lastname"
                type="text"
                th:field="*{lastname}"
                class="form-control"
                placeholder="Enter your last name"
              />
              <i class="fas fa-user"></i>
            </div>
            <div
              th:if="${#fields.hasErrors('lastname')}"
              class="text-danger small mt-1"
            >
              <i class="fa-solid fa-circle-exclamation me-1"></i>
              <span th:errors="*{lastname}"></span>
            </div>
          </div>

          <!-- Third Row: Age & Date of Birth -->
          <div class="col-md-6">
            <label for="age" class="form-label">Age</label>
            <div class="input-container">
              <input
                id="age"
                type="number"
                th:field="*{age}"
                class="form-control"
                placeholder="Enter your age"
              />
              <i class="fas fa-user"></i>
            </div>
            <div
              th:if="${#fields.hasErrors('age')}"
              class="text-danger small mt-1"
            >
              <i class="fa-solid fa-circle-exclamation me-1"></i>
              <span th:errors="*{age}"></span>
            </div>
          </div>

          <div class="col-md-6">
            <label for="dateOfBirth" class="form-label">Date of Birth</label>
            <div class="input-container">
              <input
                id="dateOfBirth"
                type="date"
                th:field="*{dateOfBirth}" 
                class="form-control"
              />
              <i class="fas fa-user"></i>
            </div>
            <div
              th:if="${#fields.hasErrors('dateOfBirth')}"
              class="text-danger small mt-1"
            >
              <i class="fa-solid fa-circle-exclamation me-1"></i>
              <span th:errors="*{dateOfBirth}"></span>
            </div>
          </div>

          <!-- Fourth Row: Gender -->
          <div class="col-md-6">
            <label for="gender" class="form-label">Gender</label>
            <div class="input-container">
              <select
                id="gender"
                name="gender"
                th:field="*{gender}"
                class="form-select"
              >
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            </div>
            <div
              th:if="${#fields.hasErrors('gender')}"
              class="text-danger small mt-1"
            >
              <i class="fa-solid fa-circle-exclamation me-1"></i>
              <span th:errors="*{gender}"></span>
            </div>
          </div>

          <!-- Submit Button -->
          <div class="col-12 text-center">
            <button type="submit" class="login-btn">Update Profile</button>
          </div>
        </form>
      </div>
    </div>

    <footer th:replace="~{/fragments/footer :: footer}"></footer>

    <script>
      function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function () {
          document.getElementById("profileImage").src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
      }
    </script>
  </body>
</html>
