<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

  <head th:replace="~{/fragments/head :: head}"></head>

  <body>
    <header th:replace="~{/fragments/header :: header}"></header>

    <div class="container mt-5">
      <h2 class="text-center">Editor page</h2>
      <p>Supplier and Contract modules are under development please comeback soon...</p>


      <p sec:authorize="hasRole('ROLE_ADMIN')">Only users with admin role will be able to see this</p>

    </div>

    <footer th:replace="~{/fragments/footer :: footer}"></footer>
  </body>
</html>
