<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head th:replace="~{/fragments/head :: head}"></head>

  <body>
    <header th:replace="~{/fragments/header :: header}"></header>

    <div class="container mt-5">
      <h2 class="text-center">Welcome to iProcure</h2>
      <p>
        Supplier and Contract modules are under development please comeback
        soon...
      </p>
      <h3>Post data page</h3>

      <section sec:authorize="isAuthenticated()" class="mt-4">
        <div class="container">
          <div class="posts" th:each="post : ${post}">
            <div class="post-card">
              <h3 th:text="${post.title}">Title</h3>
              <p th:text="${post.body}"></p>
            </div>
          </div>
        </div>
        <a
          th:href="@{'/edit_post/' + ${post.id}}"
          class="btn btn-dark"
          role="button"
          >Edit</a
        >
      </section>
    </div>

    <footer th:replace="~{/fragments/footer :: footer}"></footer>
  </body>
</html>
