<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head th:replace="~{/fragments/head :: head}"></head>

  <body>
    <header th:replace="~{/fragments/header :: header}"></header>

    <div class="container mt-5">
      <h3 class="text-center">Post Data Page</h3>

      <section sec:authorize="isAuthenticated()" class="mt-4">
        <div class="container">
          <div class="card p-4 shadow">
            <h3 class="text-center">Post Details</h3>

            <div class="mb-3">
              <label class="form-label"><b>Title:</b></label>
              <input
                type="text"
                class="form-control"
                th:value="${post.title}"
                readonly
              />
            </div>

            <div class="mb-3">
              <label class="form-label"><b>Content:</b></label>
              <div class="form-control" readonly th:utext="${post.body}"></div>
            </div>
            

            <div sec:authorize="isAuthenticated()" th:if="${isOwner}">
              <a
                th:href="@{'/edit_post/' + ${post.id}}"
                class="btn btn-dark"
                role="button"
                >Edit Post</a
              >
            </div>
          </div>
        </div>
      </section>
    </div>

    <footer th:replace="~{/fragments/footer :: footer}"></footer>
  </body>
</html>
