<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

  <head th:replace="~{/fragments/head :: head}"></head>

  <body>
    <header th:replace="~{/fragments/header :: header}"></header>

    <div class="container mt-5">
      <h2 class="text-center">Welcome to iProcure</h2>
      <p>Supplier and Contract modules are under development please comeback soon...</p>


      <p sec:authorize="hasRole('ROLE_ADMIN')">Only users with admin role will be able to see this</p>

      <section sec:authorize="isAuthenticated()" class="mt-4">
        <div class="container">
          <div class="posts" th:each="post : ${_posts}">
            <div class="post-card">
              <h3><a th:href="@{'/posts/' + ${post.id}}" th:text="${post.title}">Title</a></h3>
              <h5 th:text="'Author: ' + ${post.account.firstname}"></h5>
              <p th:text="${post.body}"></p>
            </div>
          </div>
        </div>
      </section>
    </div>

    <footer th:replace="~{/fragments/footer :: footer}"></footer>
  </body>
</html>
